AddDefaultCharset utf-8

php_value session.hash_function 1;
php_value session.hash_bits_per_character 6;

RewriteEngine on
# Redirect to CP Panel
RewriteRule ^cp/?$ /cp.html [NC,R,L]
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php

<IfModule mod_expires.c>
    # Enables generation of Expires headers
    ExpiresActive On

    # The validity of the documents 1 month after access
    ExpiresDefault "access plus 1 month"

    # The validity of the html documents 1 seconds after access
    ExpiresByType text/html "access plus 1 seconds"
</IfModule>
